body {

        background-color:#0C0C0C;
   font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
        height: 100vh;
}

.container {
  width: 80%;
  height: 40px;
  position: relative;
  top: 40px;
  margin: 0 auto;
}


}
.navigation-wrapper {
  position: relative;
}
.navigation-button {
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: fixed;
  z-index: 1;
  top: 40px;
  right: 100px;
  background: transparent;
  cursor: pointer;
}
.navigation-button .fa {
  border: 2px solid white;
  border-radius: 3px;
  padding: 10px;
    color: white;
}
 

.navigation-menu ul li {
  list-style: none;
  font-family: impact;
  font-weight: 300;
  color: hsl(0,0%,70%);
}

.navigation-menu {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  background: #fff;
  height: 100%;
  transform: skewX(0deg) translate(100%,0);
  transform-origin: top right;
  transition: all .2s ease-in;
  z-index: -1;
}
.navigation-menu ul {
  transform: skewX(-8deg);
  transform-origin: top left;
  position: fixed;
  right: 120px;
  top: 120px;
  width: 400px;
  text-align: right;

}
.navigation-menu ul li {
  position: relative;
    z-index: 999;
  font-size: 32px;
  color: hsl(0,0%,10%);
  line-height: 64px;
}
.navigation-menu ul li  a {
  border: none;
  color: hsl(0,0%,10%);
  text-decoration: none;
}
.navigation-menu.active {
  transform: skewX(8deg) translate(0,0);
    
}

.navigation-menu li {
  opacity: 0;
  transform: translate(0, 10px);
  transition: all .0s ease-in .3s;
  
}
.navigation-menu.active li {
  opacity: 1;
  transform: translate(0,0);
  transition: all .2s ease-in 0s;
}
.navigation-menu.active li:nth-child(1) {
  transition-delay: .3s;
}
.navigation-menu.active li:nth-child(2) {
  transition-delay: .4s;
}
.navigation-menu.active li:nth-child(3) {
  transition-delay: .5s;
}
.navigation-menu.active li:nth-child(4) {
  transition-delay: .6s;
}
.navigation-menu.active li:nth-child(5) {
  transition-delay: .7s;
}
.navigation-menu.active li:nth-child(6) {
  transition-delay: .8s;
}
        .hero h1{
             
            margin-top: 50px;
            text-transform: uppercase;
            font-family: impact;
            font-size: 26px;
            letter-spacing: 4px;
            color: white;
            -webkit-transform: translate(-50%,-50%);
             transform: translate(-50%,-50%);
            position: absolute;
  top: 400px;
  left: 100px;
            
             
        } 
        
        span{
            font-size: 65px;
            letter-spacing: 2px;
            font-family: impact;
        }
        
        .button {
            
             
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: normal;
            font-size: 12px;
            margin-top: 40px;
           -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            position: absolute;
            top: 550px;
            left: 25px;
            
             
        }
       /* .btn1:hover{
            text-decoration: none;
            color: white;
        }
        .btn2:hover{
            text-decoration: none;
            color: black;
        }
        */
        
        
        .btn1{
            padding: 12px 25px;
            background: #f20c4a;
            text-decoration: none;
            color: white;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            font-size: 25px;
             
        }
        .btn2{
            padding: 12px 25px;
            background: #f4f6f8;
            text-decoration: none;
            color: #000;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
             font-size: 25px;
             
        }
        .btn2 a{
          text-decoration: none;
          color: black;
        }










/*project html styling*/
#project{
  background-color: white;
}

#project .animate{
  transition-property: 0.3s cubic-bezier(0.3,0,0,1.3);

}
#project .container{
  background-color: #fff;
  font-size: 10px;
  bottom: 0;
  box-shadow: 0px 10px 10px 2px rgba(0,0,0,0.3);
  height: 300px;
  left:0;
  margin: auto;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 300px;
  border: 2px solid black;
}

#project .container:hover{
  height: 450px;
  width: 300px;

}
#project .container:hover .cta-container{
display: inline;
margin-top: 380px;
}
#project .container:hover .image{
background-size: cover;
border-radius: 0;

margin-top: -130px;
}

#project .container:hover h2{
  color: #fff;
}
#project .container:hover p{
margin-top: 300px;
}
#project .image{
  text-align: center;
  background:url('https://images.unsplash.com/photo-1572443490709-e57345f45939?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80') no-repeat center bottom;
  background-size: cover;
  border-radius: 100%;
  height: 400px;
  margin-left: -75px;
  margin-top: -270px;
  position: absolute;
  width: 450px;
}

#project h2{
  color: black;
  font-size: 24px;
  font-weight: 300;
  top: 150px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 9999;

}
#project .container:hover h2{
  background: rgba(255,255,255,0.3);
  color: black;
  margin-top: -50px;
  padding: 5px;
left: 0px;
}
#project p{

  color: green;
  font-size: 100%;
  font-weight: normal;
  margin-top: 200px;
  position: absolute;
  text-align: center;
  z-index: 9999;

}

#project .cta-container{
  display: none;
  margin-top: 320px;
  position: absolute;
  left: 111px;
  text-align: left;
  width: 100%;
  z-index: 9999;
}







/*#project .container{
  width: 1170px;
  margin: 0 auto;
}
.hover-box{
  width: 32%;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  position: relative;
  transition: all 0.50s linear 0s;
  border-radius: 50px;
  border: 2px solid red;

}
#project.hover-box:hover{
  box-shadow: none;
}
.hover-box > img{
  width: 100%;
  height: auto;
  transform: scale(1.1,1.1);
  animation: breathe 5s linear 2s infinite;
}

.hover-box .content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px 15px 0 15px;
  background: rgba(15, 57, 234, 0.8);
  transform: translateX(100%) translateY(-100%);
  /*display: none;*/
/*  transition: all 0.5s ease-in 0s;
}*/


/*.hover-box:hover .content{
  transition: translateX(0%) translateY(0%);
  display: inline-block;
  border: 2px solid blue;
}
@keyframes breathe{
  0%{transform: scale(1.1,1.1);}
  25%{transform: scale(1.2,1.2);}
  50%{transform: scale(1.3,1.3);}
  75%{transform: scale(1.2,1.2);}
  100%{transform: scale(1.2,1.2);}
}
*/















@media (max-width: 768px) {
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero h1{
  top: 100px;
  font-size: 15px;
  left: 40px;
}
#h11{
  font-size: 30px;
}
.navigation-menu ul li{
font-size: 20px;
margin-left: 350px;
bottom: 100px;
}
.button{
top: 300px;
right: 20px;
}
.btn2{
  border-radius: 20px;
  font-size: 15px;
 }
.btn1{
 border-radius: 20px;
 font-size: 15px;
}